.guest-info {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    text-indent: 3px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    min-width: 200px;
    min-height: 80px;
    transition: .3s;
}

.guest-photo > img{
    border-radius: 50%;
}

.new-guest {
    padding: 5px;
}

#guest-close-btn {
    cursor: pointer;
}